

.grid-container {
    display: grid;
    grid-template-columns: 33% 33% auto;
    grid-gap: 50px;
    background-color: grey;
    padding: 15px;
    justify-content: space-evenly;
}

.grid-container > div{
    background-color: rgb(189,189,189);
    text-align: center;
}

.cajita {
    width: 100px;
    height: 100px;
}

.solid {
    border: 2px solid #000;
}
.dotted {
    border: 2px dotted #000;
}
.dashed {
    border: 2px dashed #000;
}
.double {
    border: 2px double #000;
}
.groove {
    border: 2px groove #000;
}
.ridge {
    border: 2px ridge #000;
}
.inset {
    border: 2px inset #000;
}
.outset {
    border: 2px outset #000;
}